.editor-header {
  padding: 8px;
  font-weight: bold;
  background: #dadce0;
}
.preview-header {
  padding: 8px;
  font-weight: bold;
  background: #5c6bc0;
  color: #ffffff;
}

.border_radius {
  border-radius: 8px 8px 0 0;
}

.EasyMDEContainer {
  .CodeMirror {
    border: none;
    border-radius: 0 0 8px 8px;
    font-family: 'Open sans';
    font-size: 16px;
    // transform: scale(0.8);
  }
  .CodeMirror-placeholder {
    letter-spacing: 1.5px;
    font-family: 'Open Sans';
  }
}
